# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
build_pkg/
dist_pkg/
dist_setup/
build_linux_tree/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller / Nuitka / Py2exe build outputs
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pyt
.pytest_cache/

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Scratch & temporary workspace files
scratch/
tmp/
temp/
*.tmp
*.log

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo
*.kate-swp
.DS_Store
Thumbs.db

# User preferences & runtime settings
.PaintNotNet.ini

# Windows compilation exclusive files (Local VM build only)
setup.iss
GUIA_WINDOWS_SETUP.md
gui/banner_setup.png
LICENCIA.txt
LICENSE.txt
AGRADECIMIENTOS.txt
ACKNOWLEDGMENTS.txt
install.bat
requirements_windows.txt

# Compilador Linux
build_all.sh

# Ignorar paquetes generados por FPM / compiladores
*.deb
*.rpm
*.pkg.tar.zst
