# ==============================================================================
# PaintNotNet - Archivo de Requerimientos / Requirements File
# ==============================================================================
# Linux:   pip install -r requirements_linux.txt
# Windows: pip install -r requirements_windows.txt
# ==============================================================================

-r requirements_linux.txt
